<style>
#orcid-id-logo{
    display: block;
    margin: 7px 8px 0 0;
    padding: 0;
    float: left;
}

</style>
<div class="login-page">
    <div class="row">
        <div class="col-md-4 push-md-4">
            <img src="assets/images/ro2share_logo.png" width="150px" class="user-avatar" />
            <h1>RO2SHARE</h1>
            <button id="connect-orcid-button" (click)="onLoggedin()" class="btn rounded-btn"><img id="orcid-id-logo" src="http://orcid.org/sites/default/files/images/orcid_24x24.png" width='24' height='24' alt="ORCID logo"/>Create or Connect your ORCID iD</button>
        </div>
    </div>
</div>
